.bod{
    background-color: rgb(224, 205, 182);
}

.li{
    border: 1px solid rgb(154, 151, 151);
}

.sizeText1{
    font-size: 24px;
}

.sizeText2{
    font-size: 90%;
}

.sizeText3{
    font-size: 90%;
}

.sizeText4{
    font-size: 90%;
}

.sizeText5{
    font-size: 90%;
}

.sizeText6{
    font-size: 90%;
}

.sizeText7{
    font-size: 90%;
}

.sizeText8{
    font-size: 90%;
}

.sizeText9{
    font-size: 90%;
}

.sizeText10{
    font-size: 90%;
}

.styleMarker1{
    list-style-type: disc;
}

.styleMarker2{
    list-style-type: circle;
}

.styleMarker3{
    list-style-type: square;
}
