*{
    margin: 0;
    padding: 0;
}

.main{
    height: 100vh;
    background-color: #060E1B;
    color: white;
    font-family: 'Roboto';
    font-size: 1.1rem;
}

.header{
    height: 15vh;
    background-color: #060E1B;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.info_user{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    background-color: #101B27;
}

.icon_avatar{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1.6rem;
}

.name_user{
    font-size: 1.02rem;
    margin-top: auto;
    margin-bottom: auto;
}

.icon_exit{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1rem; 
}

.info_chat{
    display: grid;
    grid-template-columns: 1fr 7fr 3fr;
    background-color: #101B27;
    margin-left: 0.15rem;
}

.icon_chat{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1.78rem;
}

.name_chat{ 
    font-size: 1.1rem;
    margin-top: auto;
    margin-bottom: auto;
}

.number_in_the_network{ 
    font-size: 1rem;
}

.filters{
    font-size: 1rem;
    margin-top: auto;
    margin-bottom: auto;
}

.filter_window{
    width: 80%;
    height: 2.3rem;
    background-color: #060E1B;
    display: grid;
    
    margin-left: 2rem;
    grid-template-columns: 1fr 3fr 1fr;
    border-radius: 1rem;
}

.icon_filter_selection{
    margin-top: .35rem;
    margin-left: .5rem;
    
}

.text_filters{
    margin-top: .5rem;
}

.icon_search{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1.3rem;
}

.main_body{
    height: 75vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: #060E1B;
}

.list_of_users{
    /*margin-top: 0.14rem;*/
    background-color: #101B27;
}

.user{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 4rem;
}

.icon_user{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1.6rem;
}

.status{
    margin-top: auto;
    margin-bottom: auto;
    
}

.circle{
    width: .8rem;
    height: .8rem;
    border-radius: 1rem;
    background-color: #1D7C0D;
    margin-left: .7rem;
}

.circle_offline{
    width: .8rem;
    height: .8rem;
    border-radius: 1rem;
    background-color: #606d7d;
    margin-left: .7rem;
}

.load_more{
    height: 1.4rem;
    background-color: #606d7d;
    font-size: 1rem;
    margin-left: 0.15rem;
    text-align: center;
}


.message{
    display: flex;
    height: 5.5rem;
    margin-top: 1rem;
}

.icon_user_at_message{
    width: 2rem;
    margin-left: 1rem;
    margin-top: 1.2rem;
}

.user_messages{
    font-size: .9rem;
    width: 35rem;
    background-color: #101B27;
    border-radius: 1.5rem;
    margin-left: .8rem;
}

.color_name{
    color:#0D7C76;

    margin-left: 1.1rem;
    margin-top: .2rem;
}

.text{
    margin-left: 1.1rem;
    margin-top: .3rem;
    
}

.time_data{
    font-size: .7rem;
    margin-left: 28rem;
    margin-top: 1.8rem;
}

.message_my{ 
    font-size: .9rem;
    height: 5.5rem;
    width: 35rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: 3%;
    
    background-color: #101B27;
    border-radius: 1.5rem;
}

.user_messages_my{
    display: grid; 
    grid-template-columns: 10fr .6fr .6fr;
    
}

.color_name_my{
    color: #E2763A;
    margin-left: 1.1rem;
    margin-top: .2rem;
    
}

.icon_editing{
    margin-top: .2rem;
}

.icon_delete{
    margin-top: .2rem;
    margin-right: 1.1rem;
}

.text_my{
    margin-left: 1.1rem;    
}

.time_data_my{
    font-size: .7rem;
    margin-left: 28rem;
    margin-top: 1.7rem;
}

.footer{
    display: grid;
    height: 10vh;
    grid-template-columns: 1fr 4fr;
}

.info_creator{
    margin: auto 3%;
    background-color: #060E1B;
    font-size: 0.8rem;
}

.sending_messages{
    background-color: #101B27;
    display: grid;
    grid-template-columns: 35fr 2fr;
}

.write_message{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2rem;   
}

.icon_dispatch{
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 35%;
    transform: rotate(45deg);
}