table{ 
    border-collapse: collapse;
    margin: 50px auto ;
    font-size: 24px;
}

th {
    background: rgb(204, 204, 204); 
    font-weight: bold;
}

td, th { 
    border: 2px solid;
    padding: 5px;
    text-align: center;
} 